<a href="https://colab.research.google.com/github/ejrtks1020/Final_preparation_for_Bigdata_exam/blob/main/Medical_Cost_Personal_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('insurance.csv')

In [ ]:
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [ ]:
df.shape

(1338, 7)

In [ ]:
X = df.drop('charges', axis = 1)
y = df[['charges']].copy()

In [ ]:
X.head(2)

   age     sex    bmi  children smoker     region
0   19  female  27.90         0    yes  southwest
1   18    male  33.77         1     no  southeast

In [ ]:
y.head(2)

      charges
0  16884.9240
1   1725.5523

In [ ]:
X = pd.concat([X, pd.get_dummies(X[cols])], axis = 1)

In [ ]:
X.drop(cols, axis = 1, inplace = True)
X.head()

   age     bmi  children  ...  region_northwest  region_southeast  region_southwest
0   19  27.900         0  ...                 0                 0                 1
1   18  33.770         1  ...                 0                 1                 0
2   28  33.000         3  ...                 0                 1                 0
3   33  22.705         0  ...                 1                 0                 0
4   32  28.880         0  ...                 1                 0                 0

[5 rows x 11 columns]

In [ ]:
X[['age', 'bmi']].describe()

               age          bmi
count  1338.000000  1338.000000
mean     39.207025    30.663397
std      14.049960     6.098187
min      18.000000    15.960000
25%      27.000000    26.296250
50%      39.000000    30.400000
75%      51.000000    34.693750
max      64.000000    53.130000

In [ ]:
from sklearn.preprocessing import MinMaxScaler

minmax = MinMaxScaler()
X[['age', 'bmi']] = minmax.fit_transform(X[['age', 'bmi']])

In [ ]:
X.head()

        age       bmi  ...  region_southeast  region_southwest
0  0.021739  0.321227  ...                 0                 1
1  0.000000  0.479150  ...                 1                 0
2  0.217391  0.458434  ...                 1                 0
3  0.326087  0.181464  ...                 0                 0
4  0.304348  0.347592  ...                 0                 0

[5 rows x 11 columns]

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [ ]:
X_train.head()

           age       bmi  ...  region_southeast  region_southwest
1047  0.086957  0.985203  ...                 1                 0
327   0.586957  0.552058  ...                 0                 0
656   0.173913  0.711326  ...                 0                 1
977   0.173913  0.354856  ...                 1                 0
203   0.195652  0.541297  ...                 1                 0

[5 rows x 11 columns]

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold, cross_val_score, cross_validate
import numpy as np
kfold = KFold(n_splits=5)
model = RandomForestRegressor()

In [ ]:
y_train = np.asarray(y_train).ravel()

In [ ]:
y_train.shape

(1070,)

In [ ]:
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size = 0.15)

model.fit(X_tr, y_tr)
pred = model.predict(X_val)

from sklearn.metrics import mean_squared_error

np.sqrt(mean_squared_error(y_val, pred))

6105.614135238173

In [ ]:
model.score(X_val, y_val)

0.7490253637677533

In [ ]:
score = cross_val_score(model, X_train, y_train, cv = kfold)
score

array([0.82677187, 0.81996221, 0.83284711, 0.83421005, 0.85046   ])

In [ ]:
import sklearn
sorted(sklearn.metrics.SCORERS.keys())

['accuracy',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'average_precision',
 'balanced_accuracy',
 'completeness_score',
 'explained_variance',
 'f1',
 'f1_macro',
 'f1_micro',
 'f1_samples',
 'f1_weighted',
 'fowlkes_mallows_score',
 'homogeneity_score',
 'jaccard',
 'jaccard_macro',
 'jaccard_micro',
 'jaccard_samples',
 'jaccard_weighted',
 'max_error',
 'mutual_info_score',
 'neg_brier_score',
 'neg_log_loss',
 'neg_mean_absolute_error',
 'neg_mean_absolute_percentage_error',
 'neg_mean_gamma_deviance',
 'neg_mean_poisson_deviance',
 'neg_mean_squared_error',
 'neg_mean_squared_log_error',
 'neg_median_absolute_error',
 'neg_root_mean_squared_error',
 'normalized_mutual_info_score',
 'precision',
 'precision_macro',
 'precision_micro',
 'precision_samples',
 'precision_weighted',
 'r2',
 'rand_score',
 'recall',
 'recall_macro',
 'recall_micro',
 'recall_samples',
 'recall_weighted',
 'roc_auc',
 'roc_auc_ovo',
 'roc_auc_ovo_weighted',
 'roc_auc_ovr',
 'roc_auc_ovr_weighted',
 'top_k_accuracy',
 'v_measure_score']

In [ ]:
from sklearn.metrics import roc_auc_score, roc_curve
roc_auc_score

In [ ]:
roc_curve