<a href="https://colab.research.google.com/github/ejrtks1020/Final_preparation_for_Bigdata_exam/blob/main/wine_quality_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

from sklearn import model_selection
from sklearn.svm import SVC
from sklearn import metrics
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv', sep=';')

In [ ]:
df.head(2)

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70          0.0  ...       0.56      9.4        5
1            7.8              0.88          0.0  ...       0.68      9.8        5

[2 rows x 12 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [ ]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [ ]:
X = df.drop('quality', axis = 1)
y = df['quality']

In [ ]:
df.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [ ]:
X.values

array([[ 7.4  ,  0.7  ,  0.   , ...,  3.51 ,  0.56 ,  9.4  ],
       [ 7.8  ,  0.88 ,  0.   , ...,  3.2  ,  0.68 ,  9.8  ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  3.26 ,  0.65 ,  9.8  ],
       ...,
       [ 6.3  ,  0.51 ,  0.13 , ...,  3.42 ,  0.75 , 11.   ],
       [ 5.9  ,  0.645,  0.12 , ...,  3.57 ,  0.71 , 10.2  ],
       [ 6.   ,  0.31 ,  0.47 , ...,  3.39 ,  0.66 , 11.   ]])

In [ ]:
y.values

array([[5],
       [5],
       [5],
       ...,
       [6],
       [5],
       [6]])

In [ ]:
y.value_counts()

quality
5          681
6          638
7          199
4           53
8           18
3           10
dtype: int64

In [ ]:
y = y.values

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33)

svc = SVC(kernel = 'rbf', C = 1.0, gamma='auto')
svc.fit(X_train, y_train)
pred_train = svc.predict(X_train)
score = accuracy_score(y_train, pred_train)

In [ ]:
print(svc.score(X_train, y_train))
print(accuracy_score(y_train, pred_train))

0.7591036414565826
0.7591036414565826

In [ ]:
pred_test = svc.predict(X_test)
print(accuracy_score(y_test, pred_test))

0.5909090909090909

하이퍼 파라미터 튜닝

In [ ]:
from sklearn.model_selection import GridSearchCV
model = SVC()
param_grid = {'kernel':['rbf'],
              'C': [0.001, 0.01, 0.1, 1, 10, 100]}

gs = GridSearchCV(estimator = model,
                  param_grid = param_grid,
                  cv = 5,
                  verbose = True)
gs.fit(X_train, y_train)

Fitting 5 folds for each of 6 candidates, totalling 30 fits

GridSearchCV(cv=5, estimator=SVC(),
             param_grid={'C': [0.001, 0.01, 0.1, 1, 10, 100],
                         'kernel': ['rbf']},
             verbose=True)

In [ ]:
gs.best_params_, gs.best_score_

({'C': 100, 'kernel': 'rbf'}, 0.5583655727015866)

In [ ]:
pred = gs.best_estimator_.predict(X_test)
accuracy_score(y_test, pred)

0.5833333333333334

In [ ]:
#############의사결정나무#####################################
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier()
param_grid = {'criterion' : ['gini', 'entropy'],
              'max_depth' : [None, 2, 3, 4, 5, 6]}

gs = GridSearchCV(estimator=tree,
                  param_grid = param_grid,
                  cv = 5)
gs.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [None, 2, 3, 4, 5, 6]})

In [ ]:
gs.best_score_, gs.best_params_

(0.5612084329493588, {'criterion': 'entropy', 'max_depth': 5})

In [ ]:
pd.DataFrame(gs.cv_results_).sort_values(by = 'param_max_depth', ascending = 0).head(5)

    mean_fit_time  std_fit_time  ...  std_test_score  rank_test_score
5        0.005640      0.000047  ...        0.019934                5
11       0.009693      0.000131  ...        0.029001                2
4        0.005092      0.000130  ...        0.033308                9
10       0.008247      0.000054  ...        0.033066                1
3        0.004431      0.000081  ...        0.046621                3

[5 rows x 15 columns]